

#canvas {
  display: inline;
  top: 0; left: 0;
  background: #000;
  position:absolute;
  height:100%;
  width:100%;
  
}

#unity{
	position:relative;
	overflow: hidden;
	padding-left:15%;
	
	
}
#unityContainer{

	width: 80%; 
	height: 80%; 
	margin: auto;
  border: 1px solid;
  padding: 10px;
  box-shadow: 0px 0px 30px #75ff73 ;
}
#heading{
    color:white;
	position:relative;
	
	padding: 10px;
	font-weight:bold;
	font-size:80px;
	margin-bottom:20px;
	
}
#heading2{
    color:white;
	position:relative;

	font-weight:bold;
	font-size:20px;
	margin-bottom:20px;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	
}
#heading3{
    color:white;
	position:relative;
	
	font-weight:bold;
	font-size:20px;
	margin-bottom:20px;
	font-family: 'Raleway', sans-serif;
	
}
#heading4{
    
	position:relative;
	padding: 10px;
	margin: auto;
}
#heading5{
    color:white;
	position:relative;
	font-weight:bold;
	font-size:25px;
	margin-left:20%;
	margin-bottom:20px;
	font-family: 'Raleway', sans-serif;
	
	
}
#heading6{
    color:white;
	position:relative;
	font-weight:bold;
	font-size:20px;
	margin-left:30%;
	margin-bottom:20px;
	
	
}
#para{
	background-color:black;
	font-weight:bold;
	font-size:15px;
	margin: auto;
    color:white;
	font-family: 'Raleway', sans-serif;	
}



 
